[Unit]
Description=Check for GitHub-built SUAS production deployments

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=20
Persistent=true

[Install]
WantedBy=timers.target
